Package: edujogatifx
Version: 2018
Installed-Size: 300900
Homepage: www.aetj.info
Maintainer: Jonatas Marcelo
Priority: standard
Architecture: all
Description: EdujogatiFX - Pacote de jogos educativos em flash.



