Package: edujogatifx-diebold
Version: 2018
Installed-Size: 300900
Homepage: www.aetj.info
Maintainer: Jonatas Marcelo
Priority: standard
Architecture: all
Description: Pacote de atividades educativas em flash.



