Package: custom-iso
Version: 2018
Installed-Size: 62
Homepage: www.aetj.info
Maintainer: AET <7miguelsilva7@gmail.com>
Priority: standard
Architecture: all
Depends: zenity, squashfs-tools
Description: CustomISO - Customização de imagens e menu de tela,  Criada com Clonezilla



