[Desktop Entry]
Name=Backup-desktop
Version=0.1
Exec=gksu /home/.desktop-aluno/Backup-desktop_mt.sh
Comment=Gelo-dektop
Icon=/usr/share/applications/img/gelo.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=