#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Edujogati Fx
Version=2014
Exec=google-chrome /home/user/EdujogatiFx/edujogatifx.html
Comment=Atividades Educativas
Icon=/home/user/EdujogatiFx/img/Edujogati2.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Application;Education
