Package: simrede
Version: 18.07
Installed-Size: 508000
Homepage: www.aetj.info
Maintainer: Miguel Silva
Priority: standard
Architecture: all
Description: SimRede
Pre-Depends: dpkg
Depends: xterm, zenity, git, unrar, zip, p7zip, unzip



