[Desktop Entry]
Encoding=UTF-8
Name=SimRede - Simulados em Rede
Icon=/usr/share/applications/img/SR.png
Exec=bash /opt/lampp/htdocs/simrede/inicia-PHP-xampp
Terminal=false
Type=Application
Categories=Application;Education
StartupNotify=true
Name[pt_BR]=SimRede
