#!/usr/bin/env xdg-open
[Desktop Entry]
Name=JClic
Comment=
Exec=java -jar /home/user/JClic/jclic.jar
Icon=/home/user/JClic/icons/jclic_aqua.ico
Type=Application
Categories=Development;
StartupNotify=true
