Package: gelo-desktop
Version: 2018
Installed-Size: 56
Homepage: www.aetj.info
Maintainer: AET <7miguelsilva7@gmail.com>
Priority: standard
Architecture: all
Description: Gelo Desktop para lInux Educacional 3 e 4.



